body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}

.app {
  text-align: center;
}


.header {
  background-color: #6366f1;
  color: white;
  padding: 25px;
}


.content, .features, .profile {
  background-color: white;
  margin: 20px auto;
  padding: 25px;
  width: 80%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}


.features ul {
  list-style: none;
  padding: 0;
}

.features li {
  margin: 6px 0;
}


.footer {
  background-color: #111827;
  color: white;
  padding: 15px;
  margin-top: 30px;
  font-size: 14px;
}

.btn:hover {
  background-color: #b8b5d7;
}